/* legal.css */
.legal {
    background-color: #1d2226;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

